{% extends 'base.html.twig' %}

{% block body %}

    <section class="anneeVoyages">
        <div class="container-img">
            <H1>Une année de voyages</H1>
            <p>DES VOYAGES TESTÉS... DES IDÉES POUR PARTIR TOUTE L'ANNÉE !</p>
        </div>
        <p> <strong>Soyez un voyageur averti !</strong></p>
        <div class="barre"></div>
        <p>Un mook collector. Des fiches pratiques. Une application mobile. Un site web</p>
    </section>

    <section class="mookcollector">
        <div class="textmook">
            <h2>MOOK COLLECTOR</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dignissimos eius enim impedit ipsa molestiae nesciunt nostrum numquam pariatur perferendis placeat quis recusandae, saepe velit. Animi ea et laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi consectetur delectus et harum impedit ipsum itaque, iusto nesciunt nisi nobis, non quod recusandae rerum, similique sunt unde vel veniam?</p>
            <a href="">Voir un extrait de l'article</a>
        </div>
        <div class="articlesmook">
            <img src="" alt="">
            <p>N°1 - 2018</p>
        </div>
    </section>

    <section class="fiches">
        <h2>FICHES PRATIQUES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut consequuntur deleniti ea error eum facilis fuga fugiat fugit in iusto nulla officia, provident rem similique, sit suscipit vel voluptates.</p>
        <p></p>
        <div class="container-fiches">
            <a href="">
                <div>
                    <img src="" alt="">
                </div>
            </a>
            <a href="">
                <div>
                    <img src="" alt="">
                </div>
            </a>
            <a href="">
                <div>
                    <img src="" alt="">
                </div>
            </a>
        </div>
        <a href="">Voir toutes les fiches pratiques</a>
    </section>

    <section class="application">
        <h2>APPLICATION MOBILE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse impedit incidunt iste, minima nostrum possimus qui repudiandae sunt tenetur vel veniam voluptas voluptatibus? Magni, nulla optio perspiciatis quasi sit vitae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias deserunt dicta fugit hic illum impedit ipsum iusto labore, minus mollitia, nam perspiciatis repellat similique suscipit. Dolorum eligendi eos voluptas.</p>
    </section>

    <section class="partenaires">
        <h2>NOS PARTENAIRES</h2>
        <a href="">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="">
            <div>
                <img src="" alt="">
            </div>
        </a>
        <a href="">
            <div>
                <img src="" alt="">
            </div>
        </a>
    </section>

    <section class="chiffres">
        <div>
            <img src="" alt="">
            <a href="">
                <p></p>
            </a>
        </div>
        <div>
            <img src="" alt="">
            <a href="">
                <p></p>
            </a>
        </div>
        <div>
            <img src="" alt="">
            <a href="">
                <p></p>
            </a>
        </div>
        <div>
            <img src="" alt="">
            <a href="">
                <p></p>
            </a>
        </div>
    </section>

    <section class="annonceur">
        <h2>Annonceurs ... Affichez-vous !</h2>
        <div class="barre"></div>
        <div class="carousel-wrap">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>

        <div class="previous-annonceur">
            <img src="" alt="">
        </div>
        <div class="next-annonceur">
            <img src="" alt="">
        </div>
    </section>

    <section class="newsair">
        <h2>NEWS AIR</h2>

        <div class="container-news">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <a href="">Voir toutes les News Air</a>
        <div></div>
        {#twitter actu#}
    </section>

    <section class="equipe">
        <div class="container-equipe">
            <div>
                <img src="" alt="">
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <p></p>
            </div>
        </div>
    </section>
{% endblock %}