{% extends '@admin/layout.html.twig' %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-5">Bienvenue</h1>
    <p class="lead">Ceci est votre espace d'administration. Vous pouvez gérer le contenu de votre site, vos articles, vos partenaires et consulter les messages laissés par vos visiteurs.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary" href="{{ path('admin_post_index') }}" role="button">Gérer les article</a>
    </p>
</div>
{% endblock %}